---
type Alignment =
  | "end"
  | "start"
  | "center"
  | "normal"
  | "between"
  | "around"
  | "evenly"
  | "stretch";
const {
  img,
  href,
  text,
  className = "",
  justify = "center",
}: {
  img?: string;
  text?: string;
  href?: string;
  justify?: Alignment;
  className?: string;
} = Astro.props;
---

<style>
  .clickable {
    @apply inline-flex items-center
      px-5 border-black border-[2px];
    background: #ffedd5;
    box-shadow: 5px 5px 0px 1px #000;
    transition-duration: 200ms;
  }
  .clickable:hover {
    @apply cursor-pointer;
    box-shadow: none;
  }
</style>

{href &&
  <a class=`clickable py-2 px-4 ${className} justify-${justify}` target="_blank" {...href}>
    {img && <img class="w-5" src={img} />}
    {text && <p class="pl-5">{text}</p>}
    <slot />
  </a>
}

{!href &&
  <div class=`clickable py-2 px-4 ${className} justify-${justify}`>
    {img && <img class="w-5" src={img} />}
    {text && <p class="pl-5">{text}</p>}
    <slot />
  </div>
}
