---
import { Image } from 'astro:assets';

type Alignment =
  | "end"
  | "start"
  | "center"
  | "normal"
  | "between"
  | "around"
  | "evenly"
  | "stretch";
const {
  alt,
  img,
  href,
  text,
  maxWidth = true,
  className = "",
  justify = "center",
}: {
  alt?: string;
  img?: string;
  text?: string;
  href?: string;
  maxWidth?: bool;
  justify?: Alignment;
  className?: string;
} = Astro.props;
---

<style>
  .clickable {
    @apply inline-flex items-center
      py-2 px-4 border-black border-[2px];
    background: #ffedd5;
    box-shadow: 5px 5px 0px 1px #000;
    transition-duration: 200ms;
  }
  .clickable:hover {
    @apply cursor-pointer;
    box-shadow: none;
  }
</style>

{href &&
  <a class={`clickable ${maxWidth ? "max-w-[150px]" : ""} ${className} justify-${justify} text-${justify}`} target="_blank" href={href}>
    {img && <Image class="w-5" src={img} alt={alt} />}
    {text && <p class="pl-5">{text}</p>}
    <slot />
  </a>
}

{!href &&
  <div class={`clickable ${className} justify-${justify} text-${justify}`}>
    {img && <Image class="w-5" src={img} alt={alt} />}
    {text && <p class="pl-5">{text}</p>}
    <slot />
  </div>
}
