---
import { readTOMLFiles } from "@utils/readProjects";
import Clickable from "@components/Clickable.astro";

interface Project {
  name: string[];
  description: string;
  link: string;
  brand_src: string;
  button_text: string;
  button_link: string;
  brand_as_letter: boolean;
  button_bg_color: string;
}

const prebuiltData = await readTOMLFiles("proyectos-comunitarios/proyectos");
---

<style>
  #projects-container:hover {
    animation-play-state: paused;
  }
</style>
<div class="flex flex-col items-center justify-center">
  <h2>COMPARTIR</h2>
  <h3>TUS PROYECTOS</h3>

  <div
    class="w-screen
    min-h-[280px]
    h-[30vh]
    inline-flex
    flex-nowrap overflow-hidden
[mask-image:_linear-gradient(to_right,transparent_0,_black_32px,_black_calc(100%-32px),transparent_100%)]"
  >
    <ul
      class="flex
    items-center
    justify-center
    animate-infinite-scroll
    p-5"
      id="projects-container"
    >
      {
        [...prebuiltData, ...prebuiltData].map((project: Project) => {
          if (project.button_text.length > 0)
            return (
              <Clickable
                className="relative flex flex-col mx-3 w-[85vw] h-full flex-shrink-0 p-2"
                justify="normal"
              >
                {project.brand_as_letter ? (
                  <p class="flex flex-row justify-center items-center h-14 w-14 rounded-full self-start bg-[#ffedd5]">
                    {project.brand_src}
                  </p>
                ) : (
                  <img
                    alt="icon"
                    src={`project-assets/${project.brand_src.substring(2)}`}
                    class="h-14 w-14 rounded-full self-start"
                  />
                )}

                <p class="font-bold  self-start">{project.name.join(" ")}</p>
                <p class="text-black text-pretty">{project.description}</p>
                <a
                  href={project.button_link}
                  target="_blank"
                  class="self-start absolute bottom-0 mb-2"
                >
                  <Clickable>{project.button_text}</Clickable>
                </a>
              </Clickable>
            );
        })
      }
    </ul>
  </div>

  <a href="">
    <Clickable className="text-1xl p-2"> Publica </Clickable>
  </a>
</div>
