---
type SectionType = "Normal" | "TitleOrange";
type ImageAlign = "center" | "right";

const {
  type = "Normal",
  height = "screen",
  imageAlign = "center",
  title,
  subtitle,
  description,
  image,
  image_alt,
  className,
}: {
  type?: SectionType;
  imageAlign?: ImageAlign;
  title?: string;
  subtitle?: string;
  description?: string;
  image?: string;
  image_alt?: string;
  height?: string;
  className?: string;
} = Astro.props;
---

<div
  class={`flex flex-col items-center justify-center gap-2 sec h-${height} ${className}`}
>
  {
    type == "Normal" && (
      <div class="flex flex-col justify-center items-center gap-2">
        {title && <h2>{title.toUpperCase()}</h2>}
        {subtitle && <h3 class="text-[25px]">{subtitle.toUpperCase()}</h3>}
      </div>
    )
  }
  {
    type === "TitleOrange" && (
      <div class="flex flex-col justify-center mt-3 items-center gap-2">
        {title && <h3 class="text-[30px]">{title.toUpperCase()}</h3>}
        {subtitle && (
          <h2 class="text-orange-600 text-[50px]">{subtitle.toUpperCase()}</h2>
        )}
      </div>
    )
  }

  {
    image && (
      <img
        src={image}
        class={imageAlign == "right" ? "max-w-[70vw] self-end" : ""}
        alt={image_alt}
      />
    )
  }
  <slot name="content" />
  {
    description && (
      <p class="max-w-[80%] mt-3 py-2 text-pretty text-center">{description}</p>
    )
  }
  <slot name="description" />
</div>
